.menu{
    text-align: left;
}
h1{
    text-align: center;
}
main{
    text-align: center;
    font-family: sans-serif;
    display: flex;
    flex-direction: column;
    margin: 0;
    height: 100vh;
}
.voting th{
    border: 1px solid #000; /* Border for illustration */
    padding: 8px;
    text-align: center;
}