.menu{
    text-align: left;
}
h1{
    text-align: center;
}

footer {
    flex: 0.2 30px;
    text-align: center;
}
main{
    flex: 1 70px;
    justify-content: center;
    align-items: left;
}
.yesCap.active {
    background-color: blue;
}
.noCap.active {
    background-color: blue;
}