
.menu{
    text-align: left;
}
h1{
    text-align: center;
}
footer {
    flex: 0.2 30px;
    color: black;
    text-align: center;
}
main{
    flex: 1 70px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.register{
    display: flex;
    flex: 1;
    margin-left: 40%;
    text-align: left;
}