body{
    text-align: center;
    font-family: sans-serif;
    display: flex;
    flex-direction: row;
    margin: 0;
    height: 50vh;
}
header {
    color: black;
    display: flex;
    flex: 0.2 10px;
    font-size: 10px;
}
footer {
    flex: 0.2 30px;
    color: black;
    text-align: center;
}
main{
    flex: 1 70px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
menu{
    display: flex;
    flex: 1;
    margin-left: 40%;
    text-align: left;
}
.menu{
    text-align: left;
}